<font color="blue" size=5><b>Python Basics- 2</b></font>

<font color="red" size=3><b>Data Types</b></font>

| Sno | DataType |
|----|---|
| 1  | Numbers
| 2  | Strings
| 3  | Lists 
| 4  | Tuples
| 5  | Sets
| 6  | Dictionaries

<font color="red" size=3><b>Numbers</b></font>

In [1]:
a = 10
print(a)

10

In [5]:
# type conversion
a = float(3)
b = int(6.9)
print(a)
print(b)

3.0
6

<font color="red" size=3><b>Strings</b></font>

In [6]:
x = "Have "
y = "a nice "
z = "day."
print(x+y+z) #concatenation

Have a nice day.

In [11]:
a = "Apple"
print(a*3)

AppleAppleApple

In [16]:
# indexing
a = "Apple"
print(a[3])

l

In [9]:
# slicing (positive indexing)
a = "abcdefgh"
print(a[1:6])
print(a[:8])
print(a[3:])

bcdef
abcdefgh
defgh

In [10]:
# slicing (negative indexing)
a = "abcdefgh"
print(a[-6:-1])
print(a[-3:])
print(a[:-1])

cdefg
fgh
abcdefg

In [13]:
# using both forward and backward indexing
a = "abcdefgh"
print(a[3:-2])
print(a[1::2]) #start end step

def
bdfh

<font color="red" size=3><b>Lists</b></font>

In [15]:
# initialization
lst1 = [1,2,4,5]
lst2 = [1,5,"Robin","Ted"]
print(lst1)
print(lst2)

[1, 2, 4, 5]
[1, 5, 'Robin', 'Ted']

In [31]:
# indexing
lst = [1,5,"Robin","Barney"]
print(lst[3])
lst[1] = 3
print(lst)

Barney
[1, 3, 'Robin', 'Barney']

In [39]:
# slicing
lst = ["Have","you","met","Ted"]
print(lst[1:3])
print(lst[2:0:-1])

['you', 'met']
['met', 'you']

In [4]:
# sorting
lst = [1,10,5,8,23,4]
lst.sort()
print(lst)

[1, 4, 5, 8, 10, 23]

In [22]:
# extending 
x = [1,2,3,4,5]
y = [6,7,8,9,10]
x.extend(y)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
# appending 
x = [1,2,3,4,5]
y = [6,7,8,9,10]
x.append(y)
print(x)

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [28]:
# some additional functions
x = [1,2,3,4,5]
print(max(x))
print(min(x))
print(sum(x))

5
1
15

<font color="red" size=3><b>Tuples</b></font>

In [29]:
# initializion
tup1 = (1,2,3,4,5)
tup2 = (1,2, "Leonard", "Sheldon")
print(tup1)
print(tup2)

(1, 2, 3, 4, 5)
(1, 2, 'Leonard', 'Sheldon')

In [32]:
# indexing
tup = (1,2, "Leonard", "Sheldon")
print(tup[2])

Leonard

In [33]:
# tuples are immutatble
tup = (1,2, "Leonard", "Sheldon")
tup[1] = 3
print(tup)

TypeError: 'tuple' object does not support item assignment

In [34]:
# slicing
tup = (1,2, "Leonard", "Sheldon")
print(tup[::-1])

('Sheldon', 'Leonard', 2, 1)

In [6]:
tup = (1,[3,4,5],'abc','def')
tup[1][2]=8
print(tup)

(1, [3, 4, 8], 'abc', 'def')

<font color="red" size=3><b>Sets</b></font>

In [8]:
# initializing
s = {1,3,4,1,3,3,5}
print(s)

{1, 3, 4, 5}

In [15]:
# union
a = {1,2,3,4,5,8}
b = {6,7,8,9,10}
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [16]:
# intersection
a = {1,2,3,4,5,8}
b = {6,7,8,9,10}
print(a&b)

{8}

In [19]:
# difference
a = {1,2,3,4,5,8}
b = {5,6,7,8,9,10}
print(a-b)
print(b-a)

{1, 2, 3, 4}
{9, 10, 6, 7}

In [20]:
# symmetric difference
a = {1,2,3,4,5,8}
b = {5,6,7,8,9,10}
print(a^b)

{1, 2, 3, 4, 6, 7, 9, 10}

<font color="red" size=3><b>Dictionaries</b></font>

In [21]:
# initializing
dct = {'a':1, 'b':45, 'c':1}
print(dct)

{'a': 1, 'b': 45, 'c': 1}

In [31]:
# updating
dct = {'a':1, 'b':45, 'c':1}
dct['d'] = 4
print(dct)
print(dct.keys())
print(dct.values())
print(dct.items())

{'a': 1, 'b': 45, 'c': 1, 'd': 4}
dict_keys(['a', 'b', 'c', 'd'])
dict_values([1, 45, 1, 4])
dict_items([('a', 1), ('b', 45), ('c', 1), ('d', 4)])

In [32]:
# initializing via keys
keys = [1,2,4,5]
dct1 = dict.fromkeys(keys)
print(dct1)

{1: None, 2: None, 4: None, 5: None}

In [36]:
# deletion
dct = {'a':1, 'b':45, 'c':1}
print("Deletion of key b- ",dct.pop('b'))
print(dct)
print("Deletes item randomly- ",dct.popitem())

Deletion of key b-  45
{'a': 1, 'c': 1}
Deletes item randomly-  ('c', 1)